<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime.PCL" version="3.5.0.3" targetFramework="net45" />
  <package id="OsmSharp" version="4.3.0.949-beta" targetFramework="net45" />
  <package id="OsmSharp.SQLite" version="4.3.0.949-beta" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.94.0" targetFramework="net45" />
  <package id="Zlib.Portable" version="1.10.0" targetFramework="net45" />
</packages>