<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime.PCL" version="3.5.0.2" targetFramework="net45" />
  <package id="OsmSharp.Core" version="0.0.0.45-beta" targetFramework="net45" />
  <package id="OsmSharp.Redis" version="4.4.1.2-beta" targetFramework="net45" />
  <package id="OsmSharp.Routing" version="0.0.0.23-beta" targetFramework="net45" />
  <package id="OsmSharp.UI" version="0.0.0.1074-beta" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.36" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.36" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="4.0.36" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.36" targetFramework="net45" />
  <package id="Zlib.Portable" version="1.10.0" targetFramework="net45" />
</packages>